<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="nav-bar">
    <ul>
        <li><a href="/private">Home</a></li>
      <li><a href="/profile/{{theUser._id}}">My profile</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

</div>

<div class="edit-event">
  <form action="/events/update/{{theEvent._id}}" method="POST" enctype="multipart/form-data">


            <label for="">Name</label>
            <input type="text" name="updatedName" value="{{theEvent.name}}">
            <br>
            <label for="">Type</label>
            <input type="text" name="updatedType" value="{{theEvent.type}}">
            <br>
            <label for="">Description</label>
            <input type="text" name="updatedDescription"value="{{theEvent.description}}">
            <br>
            <label for="">Date</label>
            <input type="date" name="updatedDate" value="{{theEvent.date}}">
            <br>
            
            <label>Image</label>
            <input type="file" name="photo" value="{{theEvent.imgPath}}">

            <button class="btn btn-success">Submit Changes</button>

            </form>







</div>